/* syntax style highlighting */
@import "syntax_style.css";

body {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    body {
        max-width: 95%;
    }
}

@media only screen and (min-width: 801px) {
    body {
        /* size for main content, limit by width*/
        max-width: 50em;
    }
}

.site-content{
    flex: 1 1 auto;
}

code {
    /* force wrap code */
    white-space: pre-wrap;
}

/* for tables */
table, th, td{
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
td {
    /* top right bottom left */
    padding: 5px 10px 5px 10px;
    text-align: left;
}

/* reduce spacing */
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

/* nav coloring */
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: gray;
}
nav ul li{
    float: left;
    padding: 1px;
}
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: black;
}

/* footer coloring */
footer {
    margin: auto auto 0 auto;
    overflow: hidden;
}
footer ul {
    list-style-type: none;
    padding: 0px;
}
footer ul li{
    float: left;
    padding: 3px;
    text-decoration: none;
}
