body {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: auto;
    width: 70%;
}

.site-content{
    flex: 1 1 auto;
}

/* reduce spacing */
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}

/* nav coloring */
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: gray;
}
nav ul li{
    float: left;
    padding: 1px;
}
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: black;
}

/* footer coloring */
footer {
    margin: auto auto 0 auto;
    overflow: hidden;
}
footer ul {
    list-style-type: none;
    padding: 0px;
}
footer ul li{
    float: left;
    padding: 3px;
    text-decoration: none;
}
