<!DOCTYPE html>
<!-- http://jmcglone.com/guides/github-pages/ -->
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                {% for item in site.data.nav %}
                    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            <ul>
        </nav>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                {% for item in site.data.footer %}
                    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            <ul>
        </footer>
    </body>
</html>

